@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 202, 240, 248;
  --background-start-rgb: 103, 232, 249;
  --background-end-rgb: 254, 240, 138;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 202, 240, 248;
    --background-start-rgb: 24,24,27;
    --background-end-rgb: 24,24,27;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 100;
}

.top_horizontal_div {
  @apply font-sans font-semibold text-base text-gray-200;
}

.top_horizontal_div:hover {
  @apply text-emerald-400;
}

.border_top_div {
  @apply border border-gray-800 rounded-full p-2;
}

.hello_word {
  @apply text-6xl text-start mx-80 text-white font-bold p-5;
}

.intro {
  @apply text-start mx-80 font-bold p-5;
}

.span_intro {
  @apply text-xl text-gray-400 font-semibold;
}

.intro_css {
  @apply text-base font-medium text-zinc-600 dark:text-zinc-400;
}

.contact_me_button {
  @apply p-3 w-44 items-center justify-center rounded-md bg-sky-300 hover:bg-sky-500 text-black font-semibold
         transition delay-150 duration-300 ease-in-out hover:-translate-y-1;
}

.projects_button {
  @apply p-3 w-52 rounded-md bg-sky-300 hover:bg-sky-500 text-black font-semibold 
          transition delay-150 duration-300 ease-in-out hover:-translate-y-1;
}

.social_media_css {
  @apply mb-2 inline-flex items-center justify-center rounded-full p-3.5 text-xs font-medium uppercase leading-normal text-white shadow-md transition duration-150 ease-in-out hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg;
}

.social_media_contact_me_div_css {
  @apply flex flex-row mx-80 space-x-4 p-4;
}

.footer_text {
  @apply hover:text-emerald-400 me-4;
}

.animate-text-reveal {
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  font-family: 'Cutive Mono', monospace;
  overflow: hidden;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;
  animation-fill-mode: backwards;
}

@keyframes reveal {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.animate-fadeIn {
  animation: fadeIn 2.5s ease-in forwards;
}

.project_card {
  @apply transition-opacity ease-in-out opacity-0 animate-fadeIn max-w-sm p-6 bg-white border border-gray-200 rounded-lg dark:bg-zinc-900 dark:border-gray-700;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.project_title {
  @apply mb-2 mt-5 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white;
}

.project_description {
  @apply mb-3 font-normal text-gray-500 dark:text-gray-400;
}

.project_link {
  @apply inline-flex items-center text-blue-600 hover:underline;
}

/* Use in Project Card CSS views: dark:hover:bg-gray-700 */