@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 100;
}

.top_horizontal_div {
  @apply font-sans font-semibold text-base text-black dark:text-gray-200 ;
}

.top_horizontal_div:hover {
  @apply text-emerald-400;
}

.border_top_div {
  @apply border border-gray-800 rounded-full p-2;
}

.hello_word {
  @apply text-6xl text-start mx-80 text-white font-bold p-5;
}

.intro {
  @apply text-start mx-80 font-bold p-5;
}

.span_intro {
  @apply text-xl text-gray-400 font-semibold;
}

.intro_css {
  @apply text-base font-medium text-zinc-600 dark:text-zinc-400;
}

.university_card_css {
  @apply text-lg font-semibold text-zinc-600 dark:text-zinc-400;
}

.contact_me_button {
  @apply p-3 w-44 items-center justify-center rounded-md bg-sky-300 hover:bg-sky-500 text-black font-semibold transition delay-150 duration-300 ease-in-out hover:-translate-y-1;
}

.projects_button {
  @apply p-3 w-52 rounded-md bg-sky-300 hover:bg-sky-500 text-black font-semibold transition delay-150 duration-300 ease-in-out hover:-translate-y-1;
}

.social_media_contact_me_div_css {
  @apply flex flex-row mx-80 space-x-4 p-4;
}

.footer_text {
  @apply hover:text-emerald-400 me-4;
}

.animate-text-reveal {
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  font-size: 2rem; /* default font size for mobile devices */
  line-height: 1.2;
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) {
  .animate-text-reveal {
    font-size: 3rem;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) {
  .animate-text-reveal {
    font-size: 4rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .animate-text-reveal {
    font-size: 5rem;
  }
}

.delay-4s {
  animation-delay: 10s;
}

@keyframes reveal {
  0% {
    transform: translate(0, 100%);
  }

  100% {
    transform: translate(0, 0);
  }
}

.experience_cardview{
  background-color: rgb(24 24 27);
  border: 1px solid #F9FAFC;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.experience_card {
  height: 100%;
  width: 100%;
  background-color: bg-zinc-800;
  border: 1px solid #F9FAFC;
}

.experience_first_content {
  @apply flex float-left justify-between m-2;
}

.experience_second_content {
  @apply flex float-right justify-between m-2;
}

.animate-fadeIn {
  animation: fadeIn 3.5s ease-in forwards;
}

/* Create animation for zoomIn */
@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.experience_card_animation_left_to_right {
  @apply flex flex-col w-full basis-1/3 md:basis-1/3 lg:basis-1/3 experience_card_left_to_right bg-white border-2 border-emerald-500 dark:border-2 dark:border-slate-300 dark:bg-zinc-800 rounded-md shadow-lg dark:shadow-slate-300 shadow-emerald-500;
}

.experience_card_animation_zoomIn {
  @apply flex flex-col w-full basis-1/3 md:basis-1/3 lg:basis-1/3 experience_card_zoomIn bg-white border-2 border-emerald-500 dark:border-2 dark:border-slate-300 dark:bg-zinc-800 rounded-md shadow-lg dark:shadow-slate-300 shadow-emerald-500;
}

.experience_card_animation_right_to_left {
  @apply flex flex-col w-full basis-1/3 md:basis-1/3 lg:basis-1/3 experience_card_right_to_left bg-white border-2 border-emerald-500 dark:border-2 dark:border-slate-300 dark:bg-zinc-800 rounded-md shadow-lg dark:shadow-slate-300 shadow-emerald-500;
}

.experience_card_zoomIn{
  @apply transition-opacity animate-zoomIn;
}

.experience_card_right_to_left {
  @apply transition-opacity animation_slideIn_right;
}

.experience_card_left_to_right {
  @apply transition-opacity animation_slideIn_left;
}

.animate-zoomIn {
  animation: zoomIn 2.0s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.project_link {
  @apply inline-flex items-center text-blue-600 hover:underline;
}

.animation_slideIn_left {
  animation: slideInLeftToRight 2s ease-in-out;
}

.animation_slideIn_right {
  animation: slideInRightToLeft 2s ease-in-out;
}

@keyframes slideInLeftToRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRightToLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Use in Project Card CSS views: dark:hover:bg-gray-700 */